@model Model.Models.Offert

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Nueva Oferta</h1>

<hr />

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <form asp-action="Add" asp-controller="Offert">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="Concept" class="control-label">Concepto</label>
                                <input asp-for="Concept" class="form-control fo" />
                                <span asp-validation-for="Concept" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">

                            <div class="form-group">
                                <label asp-for="Duration" class="control-label">Duracción</label>
                                <input asp-for="Duration" class="form-control" />
                                <span asp-validation-for="Duration" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label">Descripcción</label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">

                            <div class="form-group">
                                <input type="submit" value="Crear" class="btn btn-primary" />
                                <a asp-controller="Admin" asp-action="Offerts" class="btn btn-dark">Volver</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/js/sweetalert2.all.min.js" asp-append-version="true"></script>


@if (TempData["Offert"] != null)
{
    <script>
        Swal.fire(
            '@TempData["Offert"]',
            '',
            'error'
        )
    </script>
}