
@{
    ViewData["Title"] = "EmailConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 class="text-center text-primary mt-3"><i class="fas fa-envelope"></i></h1>
    <h1 class="m-5 text-center">SE HA ENVIADO UN EMAIL DE CONFIRMACIÓN A SU CUENTA , PARA PODER ACCEDER A ELLA DIRIJASE A SU SU CORREO y PULSE CONFIRMAR</h1>
    <p class="text-center">
        <i class="fas fa-info-circle"></i>
        si su correo no aparecen en la bandeja de entrada , dirijase a la pestaña de span
    </p>

