@model Model.Models.Offert

@inject IOptions<ImageServerOption> _options;

<section class="hero-banner">
    <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
            <div class="col-5 d-none d-sm-block">
                <div class="hero-banner__img">
                    @{
                        var image = Model == null || !Model.ImageOfferts.Any() ? "/img/default.png" : $@"{_options.Value.BasePath}/" + Model.ImageOfferts.OrderBy(x => Guid.NewGuid()).FirstOrDefault()?.ImagePath;
                    }
                    <img class="img-fluid" height="700" src="@image" alt="@image">
                </div>
            </div>
            <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                <div class="hero-banner__content">
                    <h4></h4>
                    <h1>@Model?.Concept</h1>
                    <p>@Model?.Description</p>
                    <a class="button button-hero" href="#">Valida hasta : @Model?.Duration</a>
                </div>
            </div>
        </div>
    </div>
</section> 