@model Model.Models.Offert

@inject IOptions<ImageServerOption> _options;
@{
    var image = Model == null || !Model.ImageOfferts.Any() ? "/img/default.png" : $@"{_options.Value.BasePath}/" + Model.ImageOfferts.OrderBy(x => Guid.NewGuid()).FirstOrDefault()?.ImagePath;
}


<div class="container">
    <div class="row justify-content-end pt-60px">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <img alt="home.png" class="img-fluid" src="~/img/base/home-index.svg" />
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
            <img class="img-fluid" src="@image" alt="@image">
        </div>
        <div class="col-12 col-md-6 text-center">
            <h1>@Model?.Concept</h1>
            <p>
                @Model?.Description <span>
                    <b>Valida hasta : @Model?.Duration</b>
                </span>
            </p>
        </div>
    </div>
</div>
