@model Model.ViewModels.HomeVM

<main class="site-main">

    <!--================ Hero banner start =================-->
    <partial name="_OffertsPartial" model="Model.Offert" />

    <!--================ Hero Carousel end =================-->
    <!-- ================ trending product section start ================= -->
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>Productos populares</p>
                <h2> <span class="section-intro__style">Productos</span></h2>
            </div>
            <div class="row">
                @foreach (var item in Model.Products)
                {
                    var img = item.ProductPics.FirstOrDefault() != null ? item.ProductPics.FirstOrDefault().PicName : "";
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-~/img" height="200" width="200" src="~/files/@img" alt="">
                                <ul class="card-product__imgOverlay">
                                    <li><button><i class="ti-search"></i></button></li>
                                    <li><button><i class="ti-shopping-cart"></i></button></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <p>@item.Category.Name</p>
                                <h4 class="card-product__title"><a href="single-product.html">@item.ProductName</a></h4>
                                <p class="card-product__price">$@item.Price</p>
                            </div>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </section>
    <!-- ================ trending product section end ================= -->

</main>