@model Model.ViewModels.HomeVM

<main class="site-main">

    <partial name="_OffertsPartial" model="Model.Offert" />

    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>Productos populares</p>
                <h2> <span class="section-intro__style">Productos</span></h2>
            </div>
            <div class="row">
                @foreach (var item in Model.Products)
                {
                    var img = item.ProductPics.FirstOrDefault() != null ? item.ProductPics.FirstOrDefault().Path : "/img/default.png";
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" height="200" width="200" src="@img" alt="">
                                <ul class="card-product__imgOverlay">
                                    <li><a asp-action="GetById" asp-controller="Product" asp-route-id="@item.Id" class="see-product btn"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <p>@item.Category.Name</p>
                                <h4 class="card-product__title"><a href="#">@item.ProductName</a></h4>
                                <p class="card-product__price">$@item.Price</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (!Model.Products.Any())
            {
                <div class="row">
                    <div class="col">
                        <h1>No hay productos en existencia.</h1>
                    </div>
                </div>
            }
        </div>
    </section>
</main>