@model Category
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h1>Nueva categoria</h1>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create" asp-controller="Category">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="Name">Nombre <span class="text-danger">*</span></label>
                                <input class="form-control" asp-for="Name" />
                                <span asp-validation-for="Name" id="validation" class="text-danger"></span>
                            </div>

                        </div>
               
                        <div class="col-12 col-md-12">

                            <div class="form-group">
                                <button class="btn btn-primary btn-sm">Crear</button>
                                <a class="btn btn-dark btn-sm" asp-action="Categories" asp-controller="Admin">Cancelar</a>
                                <span data-toggle="tooltip"
                                      data-placement="bottom"
                                      title="Permite agregar campos para los productos en las diferentes categorias por ejempo: *size* es un campo de la categoria ropa">
 
                                </span>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>

<script src="~/js/categories/create.js" asp-append-version="true"></script>

<partial name="_NotificationPartial" />
