@model Category
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h1>Nueva categoria</h1>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form onsubmit="submitForm()">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="Name">Nombre <span class="text-danger">*</span></label>
                                <input class="form-control" asp-for="Name" />
                                <span asp-validation-for="Name" id="validation" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-12" style="display:none;" id="table-container">
                            <label>Campos</label>
                            <table  class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">¿Es requerido?</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody id="fields-body">
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 col-md-12">

                            <div class="form-group">
                                <button class="btn btn-primary btn-sm">Crear</button>
                                <a class="btn btn-dark btn-sm" asp-action="Categories" asp-controller="Admin">Cancelar</a>
                                <span data-toggle="tooltip"
                                      data-placement="bottom"
                                      title="Permite agregar campos para los productos en las diferentes categorias por ejempo: *size* es un campo de la categoria ropa">
                                    <button type="button"
                                            data-toggle="modal" data-target="#exampleModal"
                                            class="btn btn-warning btn-sm">
                                        Agregar campo
                                    </button>
                                </span>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Campos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form onsubmit="addField()">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label>Nombre</label>
                                    <input type="text" name="Name" class="form-control form-control-sm" />
                                </div>
                                <div class="col-12 mb-2">
                                    <label>Requerido</label>
                                    <input type="checkbox" data-toggle="toggle" name="IsRequired"
                                           data-on="Si" data-off="No"
                                           id="toggle"
                                           data-size="small" />
                                </div>
                                <div class="col-12 mb-2">
                                    <label>Tipo</label>
                                    <select name="Type" class="form-control form-control-sm" asp-items="@Html.GetEnumSelectList<AditionalFieldEnum>()">
                                    </select>
                                </div>
                                <div class="col-12 mb-2">
                                    <label>Descripción</label>
                                    <textarea name="Description" class="form-control form-control-sm"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-sm btn-success"  
                                             >Agregar</button>
                                </div>
                            </div>
                        </form>
                    </div>
          
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/categories/create.js" asp-append-version="true"></script>

<partial name="_NotificationPartial" />
