


<div class="row">
    <div class="col-12 col-md-3 mb-2">
        <div class="card">
            <div class="card-body text-center">
                <h1 class=" fa fa-users text-primary mb-4"></h1>
                <p class="text-primary text-dash"><b>@ViewBag.Clients.ToString("N0") Clientes</b></p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3 mb-2">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="fa fa-boxes text-warning  mb-4"></h1>
                <p class="text-warning text-dash"><b>@ViewBag.Products Productos</b></p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3 mb-2">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="fa fa-wallet text-success mb-4"></h1>
                <p class="text-success text-dash"><b>@ViewBag.SalesAmount Ganancias</b></p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3 mb-2">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="fa fa-comments text-danger mb-4"></h1>
                <p class="text-danger text-dash"><b>@ViewBag.Reviews Reseñas</b></p>
            </div>
        </div>
    </div>
</div>