@model PaginationResult<Category>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12">

        <div class="mb-2">
            <h1 style="display:inline-block">Categorias</h1>
            <a asp-action="Create" asp-controller="Category" class="btn btn-primary ml-3 btn-sm">
                <i class="fas fa-plus-circle"></i>
            </a>
        </div>


        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Nuestras categorias
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Creacion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Results)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.CreatedAtSrt</td>
                                    <td>
                                        <i class="fas fa-pencil-alt text-primary m-2 " onclick="edit('@item.Id')" style="cursor:pointer;"></i>
                                        <i class="fas fa-trash text-danger" onclick="sweetRemove('/category/remove/@item.Id')" style="cursor:pointer;"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        @Html.RenderPagination(Model.Total, Model.Qyt, new DefaultPaginationConfig
   {
       LinkClass = "page-link",
       DoNotRenderForOnePage = true
   })
    </div>
</div>

<script src="~/js/category/app.js" asp-append-version="true"></script>
<partial name="_NotificationPartial" />
