@model IEnumerable<Model.ViewModels.DashboardVM>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center">Bienvenido</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4 mb-5">
            <div class="card">
                <div class="text-center" style="font-size:50px;"><i class="@item.Icon"></i></div>
                <div class="card-body text-center">
                    <b> @item.Name @item.Quantity </b> <br />
                </div>
            </div>
        </div>
    }
</div>