@model IEnumerable<Model.Models.Sale>
@{
    ViewData["Title"] = "Sales";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Ventas</h1>


<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Total</th>
                        <th>Fecha</th>
                        <th>Cupon Aplicado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var cuppon = !string.IsNullOrEmpty(item.CuponCode) ? item.CuponCode : "Ninguno";
                        <tr>
                            <td>@item.Total</td>
                            <td>@item.CreatedAt.ToShortDateString()</td>
                            <td>@cuppon</td>
                            <td>
                                <a asp-action="SaleDetail" asp-controller="Sale" asp-route-Id="@item.Id">
                                    <i class="fas fa-eye text-primary m-2 " style="cursor:pointer;"></i>
                                </a>
                                <i class="fas fa-trash text-danger" onclick="sweetRemove('/sale/remove/@item.Id')" style="cursor:pointer;"></i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_NotificationPartial" />
