@model PaginationResult<AvaibleCity>

@{
    Layout = null;
}


<div class="row mt-3">
    <div class="col-12 mb-2">
        <h3> <button onclick="LoadPartialView('tab-container','/Country/Index')" class="btn btn-dark"><i class="fa fa-arrow-left"></i></button> Ciudades Permitidas</h3>
    </div>
    <div class="col-12 col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <form onsubmit="return false;">
                    <div class="form-group">
                        <label>Ciudad</label>
                        <select style="width: 100%"
                                data-live-search="true"
                                id="select-search"
                                class="form-control form-control-sm select-search">
                            <option>Seleccione la ciudad</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button onclick="addCity()" class="btn btn-sm btn-primary">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <div class="col-12">
        <form onsubmit="return false;" method="get">
            <div class="row justify-content-end">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="label" for="name">Busqueda</label>
                        @if (ViewBag.Name != null)
                        {
                            <input id="name" type="text" name="name" value="@ViewBag.Name" class="form-control form-control-sm mb-2" />
                        }
                        else
                        {
                            <input id="name" type="text" name="name" value="" class="form-control form-control-sm mb-2" />

                        }
                        <button type="button" onclick="searchCity('@ViewBag.CountryCode')" class="btn btn-sm btn-primary">Buscar</button>
                        <button type="button"
                                onclick="LoadPartialView('tab-container','/Country/GetAvaibleCity?code=@ViewBag.CountryCode')"
                                class="btn btn-sm btn-danger">
                            Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12">
        <div class="table-responsive animate__animated animate__fadeInLeft">
            <table class="table table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Codigo</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Results)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.CountryCode</td>
                            <td>
                                <button onclick="sweetRemove('/Country/RemoveCity?id=@item.Id', 'tab-container', '/Country/GetAvaibleCity?code=@item.CountryCode')" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12">
        @{
            var param = ViewBag.Name != null ? $"name={ViewBag.Name}&" : string.Empty;
        }
        <partial name="_PaginationPartial"
                 model='new PaginationPartialModel() {
                    Total = Model.Total,
                    Qyt = Model.Qyt,
                    RenderOneInFirstPage = true ,
                    Url = $"/Country/GetAvaibleCity?{param}code="+ViewBag.CountryCode,
                    ActualPage = Model.ActualPage,
                    IdToLoad = "tab-container"
                    }' />
    </div>
</div>


<script src="~/js/countries/city-partial.js" asp-append-version="true"></script>
<script asp-append-version="true">
    var select = $("#select-search");
    $(".select-search").select2({
        ajax: {
            url: "/country/GetAllCities?countryCode=@ViewBag.CountryCode",
            dataType: 'json',
            data: (params) => {
                var query = {
                    search: params.term
                }
                return query;
            },
            minimumInputLength: 3,
            allowClear:true,
            delay: 250,
            cache:true,
            processResults: function (data) {
                var list = data.map((city) => {
                    return {
                        id: `${city.name + "," + city.country + "," + city.lat + "," + city.lng}`,
                        text: city.name
                    }
                });
                const result = { results: list }

                return result;

            }
        }
    })

</script>