<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>
    <link rel="icon" href="~/img/favicon.ico" type="image/png">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/limonte-sweetalert2/sweetalert2.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/admin/style.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
</head>

<body id="page-top" class="admin-body">


    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav side-bar-admin  ">
            <li class="nav-item active">
                <a class="nav-link animate__animated animate__fadeInLeft animate__faster" asp-controller="Admin" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link animate__animated animate__fadeInLeft  animate__faster" asp-controller="Admin" asp-action="Products">
                    <i class="fas fa-boxes"></i>
                    <span>Productos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  animate__animated animate__fadeInLeft animate__faster" asp-controller="Admin" asp-action="Users">
                    <i class="fas fa-users"></i>
                    <span>Usuarios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link animate__animated animate__fadeInLeft animate__faster" asp-controller="Admin" asp-action="Categories">
                    <i class="fas fa-th-large"></i>
                    <span>Categorias</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link animate__animated animate__fadeInLeft animate__faster" asp-controller="Admin" asp-action="Offerts">
                    <i class="fas fa-laugh-beam"></i>
                    <span>Ofertas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link animate__animated animate__fadeInLeft animate__faster" asp-controller="Admin" asp-action="Cupons">
                    <i class="fas fa-credit-card"></i>
                    <span>Cupones</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link animate__animated animate__fadeInLeft animate__faster" asp-controller="Admin" asp-action="Sales">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Ventas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link animate__animated animate__fadeInLeft animate__faster" asp-action="Index" asp-controller="Home">
                    <i class="fa fa-fire"></i>
                    <span>Sitio web</span>
                </a>
            </li>
        </ul>

        <div id="content-wrapper">

            <div class="container-fluid">
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js" asp-append-version="true"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
                <script src="~/js/admin/index.js"></script>
                <script asp-append-version="true" src="~/js/Base/genericSweetAlert.js"></script>

                @RenderBody()

            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © FastShop @DateTime.Now.ToString("dd/MM/yyyy")</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</body>

</html>
