@model PaginationPartialModel

@{
    var pages = Math.Ceiling((decimal)(Model.Total / Model.Qyt));
}

@if (Model.Total > 0)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 1; i <= pages + 1; i++)
            {
                var active = i == Model.ActualPage ? "active" : string.Empty;
                <li class="page-item @active" onclick="LoadPartialView('@Model.IdToLoad', '@Model.Url&Page=@i')"><button class="page-link">@i</button></li>
            }
        </ul>
    </nav>
}

