
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center text-primary mt-3" style="font-size:250px;">404</h1>
<h1 class="m-5 text-center">LO SENTIMOS PAGINA NO ENCONTRADA</h1>
<div class="text-center">
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Volver al inicio</a>
</div>
