@model Model.Models.Cupon

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <h1>Nuevo Cupon</h1>


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Add" asp-controller="Cuppon">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Concept" class="control-label">Descripción</label>
                <textarea asp-for="Concept"  class="form-control"></textarea>
                <span asp-validation-for="Concept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Monto</label>
                <input asp-for="Amount" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" />
                <span asp-validation-for="Amount"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Cuppons" class="btn btn-dark">Volver</a>
            </div>
        </form>
    </div>
</div>


<script src="~/js/sweetalert2.all.min.js" asp-append-version="true"></script>

@if (TempData["Cuppon"] != null)
{
    <script>
        Swal.fire(
            '@TempData["Cuppon"]',
            '',
            'error'
        )
    </script>
}
