@model Model.Models.Cupon

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Actualizar Cupon : @Model.Code</h1>

<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <form asp-action="Update" asp-controller="Cuppon">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">

                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label asp-for="Amount" class="control-label">Monto</label>
                                <input asp-for="Amount" type="number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-9">
                            <div class="form-group">
                                <label asp-for="Concept" class="control-label">Descripción</label>
                                <textarea asp-for="Concept" class="form-control"></textarea>
                                <span asp-validation-for="Concept" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-9">
                            <div class="form-group">
                                <label asp-for="IsByPercent" class="control-label">¿El monto a debitar es un porciento?</label>
                                <input type="checkbox" asp-for="IsByPercent" />
                                <span asp-validation-for="Concept" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <input type="submit" value="Actualizar" class="btn btn-primary" />
                                <a asp-action="Cupons" asp-controller="Admin" class="btn btn-dark">Volver</a>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

<partial name="_NotificationPartial" />
<partial name="_ValidationScriptsPartial" />
