<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
            <i class="fas fa-money-bill-wave"></i>EFECTIVO
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" aria-disabled="true">
            <i class="fab fa-paypal"></i> PAYPAL
        </a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row mt-5">
            <div class="col ">
                <button class="btn btn-outline-dark btn-sm" onclick="AddSale()"> <i class="fas fa-street-view"></i> Usar mi dirrección registrada </button>
                <button data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-sm btn-outline-dark"><i class="fas fa-map-marker-alt"></i> Proveer una</button>
                <div class="collapse mt-2" id="collapseExample">
                    <textarea class="form-control" name="Description" id="Description" placeholder="Porfavor ingresar la dirreción en esta area"></textarea>
                    <button class="btn btn-sm btn-primary mt-1" onclick="AddSale('AddLocation')">Pagar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <b>Not Working!</b>
        <div id="paypal-button"></div>

        <script src="https://www.paypalobjects.com/api/checkout.js" asp-append-version="true"></script>

        <script>
            paypal.Button.render({
                // Configure environment
                env: 'sandbox',
                client: {
                    sandbox: 'demo_sandbox_client_id',
                    production: 'demo_production_client_id'
                },
                // Customize button (optional)
                locale: 'en_US',
                style: {
                    size: 'small',
                    color: 'gold',
                    shape: 'pill',
                },

                // Enable Pay Now checkout flow (optional)
                commit: true,

                // Set up a payment
                payment: function (data, actions) {
                    return actions.payment.create({
                        transactions: [{
                            amount: {
                                total: '0.01',
                                currency: 'USD'
                            }
                        }]
                    });
                },
                // Execute the payment
                onAuthorize: function (data, actions) {
                    return actions.payment.execute().then(function () {
                        // Show a confirmation message to the buyer
                        window.alert('Thank you for your purchase!');
                    });
                }
            }, '#paypal-button');

        </script>
    </div>
</div>
