@model Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var categories = ViewBag.Categories as IEnumerable<SelectListItem>;
}

@if (!categories.Any())
{
    <div class="alert alert-danger" role="alert">
        Necesitas tener registrada alguna categoria para crear un producto <a asp-action="Create" asp-controller="Category"><i>¿Crear nueva categoria?</i></a>
    </div>
}
<h1>Nuevo Producto</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" type="number" min="1" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" id="price" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CategoryId">Categoria</label>
                <select class="form-control mb-3" asp-for="CategoryId" asp-items="categories">
                    <option selected>SELECCIONA UNA CATEGORIA</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (categories.Any())
                {
                    <button type="submit" class="btn btn-primary">Crear</button>
                }
                <a asp-action="Products" asp-controller="Admin" class="btn btn-dark">Volver</a>
            </div>
        </form>
    </div>
</div>

<partial name="_NotificationPartial" />
