@model Product

@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var categories = ViewBag.Categories as IEnumerable<SelectListItem>; }

@if (!categories.Any())
{
<div class="alert alert-danger" role="alert">
    Necesitas tener registrada alguna categoria para crear un producto <a asp-action="Create" asp-controller="Category"><i>¿Crear nueva categoria?</i></a>
</div>}

<h1>Nuevo Producto</h1>
<hr />
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create" onsubmit="submitForm(event)" >
                    <div class="row">
                        <div class="col-12  col-md-4 col-lg-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ProductName" class="control-label"></label>
                                <input asp-for="ProductName" class="form-control" />
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12  col-md-4 col-lg-3">
                            <div class="form-group">
                                <label asp-for="Quantity" class="control-label"></label>
                                <input asp-for="Quantity" type="number" min="1" class="form-control" />
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12  col-md-4 col-lg-3">

                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" id="price" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12  col-md-4 col-lg-3">
                            <div class="form-group">
                                <label asp-for="CompanyName" class="control-label"></label>
                                <input asp-for="CompanyName" class="form-control" />
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12  col-md-4 col-lg-3">
                            <div class="form-group">
                                <label asp-for="Brand" class="control-label"></label>
                                <input asp-for="Brand" class="form-control" />
                                <span asp-validation-for="Brand" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12  col-md-4 col-lg-3">

                            <div class="form-group">
                                <label asp-for="Model" class="control-label"></label>
                                <input asp-for="Model" class="form-control" />
                                <span asp-validation-for="Model" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12  col-md-4 col-lg-3">
                            <div class="form-group">
                                <label for="CategoryId">Categoria</label>
                                <select class="form-control mb-3" 
                                      required asp-for="CategoryId" asp-items="categories">
                                    <option value="">SELECCIONA UNA CATEGORIA</option>
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-12  col-md-6 col-lg-6">

                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <label>
                                Campos <button data-toggle="modal"
                                               data-target="#exampleModal"
                                               type="button"
                                               class="btn btn-sm btn-warning"
                                               onclick="LoadPartialView('form-field-container','/ProductDetail/Create')">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                            </label>
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody id="fields-body">
                                </tbody>
                            </table>
                        </div>

                        <div class="col-12 mt-4">
                            <div class="form-group">
                                @if (categories.Any())
                                {
                    <button type="submit" class="btn btn-primary">Crear</button>}
                                <a asp-action="Products" asp-controller="Admin" class="btn btn-dark">Volver</a>
                            </div>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
    <div class="col-12">

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo campo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form-field-container">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/product/create.js" asp-append-version="true"></script>
<partial name="_NotificationPartial" />
<partial name="_ValidationScriptsPartial" />